*{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    font-weight: 250;
    color:black;

}
body{
   background-color:white;
   background-size: cover;
   align-items: center;
   justify-content: center;
   
   
}
.logo p {
    font-size: 45px;
    text-indent: 60px;
    color:navy;
    font-family: 'Golos Text', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Permanent Marker', cursive;


 }
 a { 
    text-decoration: none; 
   
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: var(--color2);
    padding: 12px 20px;
}
.logo img {width: 40px;}
.menu {
    display: flex;
    list-style-type: none;
}
.menu li {padding-left: 30px;}
.menu li a {
    display: inline-block;
    text-decoration: none;
    color: var(--color1);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}
.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--color1);
    transition: 0.15s ease-in-out;
}
.menu li a:hover:after {width: 100%;}
.open-menu , .close-menu {
    position: absolute;
    color: var(--color1);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu {
    top: 4px;
    right: 22px;
}

.active{
    border-bottom:20px solid blue;
}
.table{
    
    margin: 20px 10px;
}
.table img{
    width: 100%;
    height: 45%;
}
.a {
    width:500px;
    box-shadow:0 0 3px grey;
    padding:45px ;
    margin-top: 32px;
}
.b {
    box-shadow:0 0 3px grey;
    margin-right: 100px;
}
#check {display: none;}
@media (max-width: 992px){
    
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 70vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color:white;
        transition: all 0.2s ease-in-out;
        box-shadow: 0 0 10px black;
    }
    .menu li {margin-top: 40px;}
    .menu li a {padding: 10px;}
    .open-menu , .close-menu {display: block;}
    #check:checked ~ .menu {right: 0;}
}
.content{
    margin: auto;
    height: 90%;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgb(188, 184, 184);
    width:460px;
}
.text{
    padding: 15px;
}
li:hover{
    color: blue;
    }
    iframe {
        border: none;
    }
    